#sidebar {
    height: 100%;
    padding-top: 90px;
    position: fixed;
    background-color: yellowgreen;
    opacity: 0.5;
    text-align: center;
    color: black;
    font-size: xx-large;
    font-weight: 600;
}

#l1:hover {
    background-color: purple;
}

#l2:hover {
    background-color: purple;
}

#dashboard {
    margin-top: 70px;
    /* background-color: red; */
}